{% for provider, methods in r.items() %}
-- Provider : {{ provider }}
-- https://github.com/joke2k/faker/blob/master/{{provider |replace('.','/')}}/__init__.py

{% for method_name,method_info in methods.items() %}
CREATE OR REPLACE FUNCTION {{ method_name }}(
{%- for param_name,param_spec in method_info.parameters.items() -%}
"{{ param_name }}" {{ param_spec.type }} = {{ param_spec.default }} {{ "," if not loop.last }}
{%- endfor -%}
) RETURNS {{ method_info.type }}
AS $$
try:
  GD['Faker']
except KeyError:
  plpy.execute('SELECT autoinit();')
  if not 'Faker' in GD:
    return None
if not hasattr(GD['Faker'],'{{method_name}}'):
  plpy.warning(
    "the `{{method_name}}` method is not available in the current locale(s)",
    hint="See https://faker.readthedocs.io/en/master/locales.html"
  )
  return None
return GD['Faker'].{{method_name}}(
{%- for param_name,param_spec in method_info.parameters.items() -%}
{{ param_name }}
{{ "," if not loop.last }}
{%- endfor -%}
)
$$
  LANGUAGE plpython3u
  VOLATILE
  CALLED ON NULL INPUT
  SECURITY INVOKER
  PARALLEL SAFE
  SET search_path = @extschema@
;

CREATE OR REPLACE FUNCTION unique_{{ method_name }}(
{%- for param_name,param_spec in method_info.parameters.items() -%}
"{{ param_name }}" {{ param_spec.type }} = {{ param_spec.default }} {{ "," if not loop.last }}
{%- endfor -%}
) RETURNS {{ method_info.type }}
AS $$
from faker.exceptions import UniquenessException
try:
  GD['Faker']
except KeyError:
  plpy.execute('SELECT autoinit();')
  if not 'Faker' in GD:
    return None
if not hasattr(GD['Faker'],'{{method_name}}'):
  plpy.warning(
    "the `{{method_name}}` method is not available in the current locale(s)",
    hint="See https://faker.readthedocs.io/en/master/locales.html"
  )
  return None
try:
  result=GD['Faker'].unique.{{method_name}}(
{%- for param_name,param_spec in method_info.parameters.items() -%}
  {{ param_name }}{{ "," if not loop.last }}
{%- endfor -%}
  )
except UniquenessException:
  plpy.warning(
    "Got duplicated values after 1,000 iterations.",
    detail="You probably consumed all the unique values !",
    hint="You can reset the uniqueness cache with SELECT @extschema@.unique_clear()"
  )
  return None
return result
$$
  LANGUAGE plpython3u
  VOLATILE
  CALLED ON NULL INPUT
  SECURITY INVOKER
  PARALLEL SAFE
  SET search_path = @extschema@
;
{% endfor %}

{% endfor %}

{#
 # Clear the uniqueness cache
 #}
CREATE OR REPLACE FUNCTION unique_clear() RETURNS BOOLEAN
AS $$
  try:
    GD['Faker'].unique.clear()
  except KeyError:
    plpy.warning(
      "faker is not initialized.",
      hint="Use SELECT @extschema@.faker(); first."
    )
    return False
  return True
$$
  LANGUAGE plpython3u
  VOLATILE
  SECURITY INVOKER
;

{#
 # Loop again to write the `_functions()` function
 #}
CREATE OR REPLACE FUNCTION _functions()
RETURNS TABLE ( name TEXT, locale TEXT )
AS $$
SELECT *
FROM ( VALUES
{%- for provider, methods in r.items() %}
{%- for method_name,method_info in methods.items() %}
{%- set locale = provider.split('.')[3] %}
{%- if locale %}
('{{ method_name }}', '{{ locale }}'),
('unique_{{ method_name }}', '{{ locale }}'),
{%- else %}
('{{ method_name }}', NULL),
('unique_{{ method_name }}', NULL),
{%- endif %}
{%- endfor %}
{%- endfor %}
('unique_clear',NULL),
('_functions',NULL)
) AS t (name,locale);
$$
  LANGUAGE SQL
  IMMUTABLE
  SECURITY INVOKER
  PARALLEL SAFE
;
